
body {
    background: #333 url('broken_noise.png');
    color: #dfdfdf;
    margin: 0;
    padding: 0;
    font-family: "Droid Sans", sans-serif;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
}

#main > svg {
    background: black;
    overflow: hidden;
}

#main, #sidebar {
    display: none;
}

.splash {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    background: #333 url('broken_noise.png') repeat;
}

.splash p {
    margin: 5em 0;
    padding: 0;
}

#sp-waiting {
    display: none !important; /* fixme */
}

#sp-gameover {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
}

#sp-gameover > div {
    flex: 0 0 auto;
}

#sp-gameover .go-player {
    font-size: 2.4em;
}

#sp-gameover .go-player-score {
    font-family: monospace;
}

#sp-gameover .go-player.winner {
    font-size: 2.9em;
    font-weight: bold;
}

#sp-gameover .separator {
    width: 50%;
    height: 2px;
    padding: 0;
    margin: 1.5em 0;
    background: #dedede;
}

#main canvas {
    box-shadow: 0 0 12px rgba(0, 0, 0, .7);
}

#sidebar {
    position: fixed;
    padding: 1em;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 300px;
}

#information {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#information > section {
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-around;
    flex-direction: row;
    margin: 3em 0;
}

#information > section > div {
    text-align: center;
    align-self: auto;
    margin: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    white-space: nowrap;
    overflow: hidden;
}

#logo {
    position: absolute;
    /*background: url('assets/energy.gif') no-repeat;*/
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 32px;
}

#ui-mouse-img {
    width: 22px;
    height: 22px;
    margin: 0 .5em;
    vertical-align: middle;
}

#ui-turn-index {
    width: 100%;
}

.btn {
    border-radius: 3px;
    border: none;
    padding: 4px 8px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    height: 24px;
}

.btn:disabled {
    opacity: .7;
    cursor: auto;
}

.ui-player-marker {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 0 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .9);
}

.ui-player-score {
    margin-top: 15px;
    font-size: 2em;
    font-family: monospace;
}

.ui-player {
    border-radius: 6px;
    padding: 1em 0;
    transition: background .2s linear, color .2s linear;
    flex: 1 1 50%;
}

.ui-minor {
    color: #888;
}

.ui-player.active {
    background: #bbb;
    color: #333;
}

#ui-cell-img {
    width: 32px;
    height: 32px;
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

#ui-cell-type {
    font-weight: bold;
    margin: .5em 0;
}

#ui-cell-props {
    font-size: 0.8em;
}

#ui-cell-props dt {
    float: left;
    width: 10vw;
}

#ui-cell-props dd {
    margin: 0 0 0 1em;
    padding: 0;
    font-weight: bold;
}

#controls {
    display: flex;
    flex-direction: row;
}

#controls > * {
    margin: 0 4px;
}

#controls input {
    vertical-align: middle;
    display: inline;
    flex: 1 1 auto;
}

#ui-playpause {
    width: 2.5em;
    text-align: center;
}

.cell-pipe {
    background: url(pipes.png) -96px 0;
}

.cell-super-pipe {
    background: url(pipes.png) -96px -32px;
}

.cell-pulsar {
    background: url(energy.gif);
    border-radius: 16px;
    background-size: 32px 32px;
}

.cell-base {
    background: url(platform.png) -32px -32px;
}

.cell-destroyed-pipe {
    background: url(debris.png) 0 0;
}

input[type=range] {
    height: 24px;
    background: none;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none
}

input[type=range]::-webkit-slider-runnable-track {
    height: 24px;
    cursor: pointer;
    box-shadow: none;
    background: #4b4d4d;
    border-radius: 3px;
    padding: 0 5px
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1.8px #600000, 0px 0px 0px #7a0000;
    border: none;
    height: 14px;
    width: 9px;
    border-radius: 7px;
    background: rgba(255, 67, 103, 0.78);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 5.3px
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4b4d4d
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    box-shadow: none;
    background: #4b4d4d;
    border-radius: 3px;
    padding: 0 5px
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1.8px #600000, 0px 0px 0px #7a0000;
    border: 0px solid rgba(255, 30, 0, 0);
    height: 14px;
    width: 9px;
    border-radius: 7px;
    background: rgba(255, 67, 103, 0.78);
    cursor: pointer
}
